<app-header [titulo]="titulo || 'Aler Page'"></app-header>
<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="/" ></ion-back-button>
    </ion-buttons>
    <ion-title>alert</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <ion-button expand="full" (click)="presentAlert()" >Mostrar Alerta </ion-button>
  <br>
  <ion-button expand="full" (click)="presentAlertPrompt()" color="secondary" >Mostrar Input</ion-button>
</ion-content>
