<app-header titulo="Cards (Tarjetas)"></app-header>

<ion-content padding>

    <ion-card mode="ios"> 
        <!-- forza el estilo de ios android a ios  -->
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item color="primary">
          <ion-icon color="light" slot="start" name="pin"></ion-icon>
          <ion-label>Marcador</ion-label>
        </ion-item>

        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos sunt odio nemo ipsum dolor omnis officia maiores, a porro explicabo dolores dignissimos commodi corporis saepe ab architecto, alias totam praesentium.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>Card Image</ion-card-header> 
        <ion-img src="/assets/img/logo.png" ></ion-img>
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus voluptates illo recusandae, enim ex, odit ea alias veritatis error beatae inventore repellendus rem quisquam modi reprehenderit tempora animi suscipit dolorum.
        </ion-card-content>
      </ion-card>

</ion-content>
